{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
  <a href='/accounts/login'>Logout</a>
{% else %}
  <p>You are not logged in</p>
<a class="button button-primary" href="{ url 'login' %}">Anchor button</a>
<button class="button-primary">Button element</button>
<input class="button-primary" type="submit" value="submit input">
<input class="button-primary" type="button" value="button input">
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}